# ignore environments
.venv/*
.python_version
poetry.lock

.Rproj.user

.Rhistory

# ignore outputs
**/aggregator_output/

**/module_output/

toolkit_project/module_output/EWR/

*_files
*.html

#template_data/csvs/module_output/EWR/
